doctype html
html
  head
    block link
      -var selected = 'home';
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      = htmlWebpackPlugin.options.title
  body
    h1 hello world
    img(src=require('./images/download.jpeg'))
    img#images